/.venv

.env
.env.dev
.env.prod
.env.test
.env.staging
__pycache__/
coverage.xml
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
